.jumbotron{
    padding-top: 5rem;
    background-color : #e2edff; 
}
#Pendidikan{
    padding-top: 5rem;
    background-color : #e2edff;
}
#Tentang{
    padding-top: 5rem;
}
#kontak{
    padding-top: 5rem;
}
